.drawGraph {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
}

.container {
  width: fit-content;
  border: solid 3px var(--color-main-color);
  border-radius: 6px;
  background: var(--color-surface-light-blue);
}

.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  background: #F9F9F9;
}